.chart {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-left:1px solid black;
  border-bottom:1px solid black;
}

.figure {
  height: 420px;
  display: flex;
  position: relative;
  text-align: center;
  padding: 20px 100px 100px 100px;

}

.bar {
  display:inline-table;
  background-color: aqua;
  text-align: center;
  margin-top: auto;
  border-right: 20px solid white;
  border-left: 20px solid white;
  position: relative;

}

.xLabel{
  height: relative;
  width: 100%;
  position: absolute;
  bottom: 0%;
  transform: translate(0px, 25px);
}

.yAxis {
  display: inline;
}

.label {
  position:absolute;
  width: 100%;
  transform: translate(0px, 10px);

}

.yAxis-label {
  padding: 0px 0px 0px 20px;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
}

.yBar {
  padding-right: 10px;
  display: block;

}

.title {
  text-align: center;
  padding-top: 50px;
}

.tick {
  position: absolute;
  display:inline-block;
  transform: translate(8px,0);
}
